.modal-section{
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    margin: auto;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    text-align: center;
}

.container-modal-section-close{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.modal-section-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-section-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

#model-btn-delete{
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-weight: bold;
    border: none;
    background: rgb(146, 29, 29);
}

#modal-section-close{
    color: rgb(22, 30, 148);
    font-size: 36px;
    cursor: pointer;
}

#modal-alert{
    display: none;
}

#modal-load{
    display: none;
}

.modal-content-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100%);
    overflow-y: auto;
}

#btn-edit-user{
    margin-bottom: 20px;
}